@CHARSET "UTF-8";

body {

	background-color: #eeeeee;
	text-align:center;
	
	padding-top:80px;	
	
}

#header {
	top: 0px;
	left: 0px;
	width: 100%;

	background-color: #5d5d5d;
	position:absolute;	
	text-align:center;
	border-bottom:solid 1px #ffffff;
	padding-top: 20px;
	padding-bottom: 20px;
	
	color: #aeaeae;
	font-size:40px;
}

#bodyData {

	background-color: #ffffff;
	width:100%;
	padding-top:20px;
	padding-bottom:20px;
	margin-right:5%;	
	margin-top: 10px;
	border-radius:10px;
	border:solid 1px #aeaeae;
	
}

h1 {
	
	color:#aeaeae;
	font-size: x-large;
	border-bottom: solid 1px #aeaeae;
	margin-left : 10px;
	margin-right: 10px;
	margin-top:5px;
	margin-bottom:5px;
	padding-bottom : 3px;
	
}

.dataTable {

	width:100%;
		
}

.dataTable td {

	border-radius:10px;
	padding:5px;
		
}

.dataTable tr:nth-child(2n) td {

	background-color:#222222;
	color:#efefef;
		
}

.dataTable tr:nth-child(2n) a {

	color:#efefef;
		
}

.formTable {

	width:100%;
		
}

.formTable td {

	border-radius:10px;
	padding:5px;
		
}

.formTable tr td:first-child {
	
	background-color:#eeeeee;
	color:#666666;
	
}

.formTable input {
	width:100%;
}

#leftBlock {
	
	width:25%;
	border-right:solid 1px #aeaeae;
	vertical-align: top;
	
}

#rightBlock {
	
	width:75%;
	vertical-align: top;
	
}

#mainBlock {

	width:100%;	
	
}
	
.errorBlock {
	
	margin:auto;
	margin-top:20px;
	margin-bottom:20px;
	width:95%;	
	background-color: #ffdddd;
	border-radius:10px;
	padding:15px;
	border:solid 1px #dd5555;
	border-bottom:solid 3px #dd5555;
	color:#dd5555;
	
}

#ariane {

	width:100%;
	text-align:left;
	height:20px;	
	
}

#ariane a {

	color:#efefef;
	text-decoration:none;
	height:20px;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	background-color:#888899;
	border-radius:10px;
	height:20px;
	margin-right:10px;
	margin-left:10px;
		
}

#ariane a:HOVER {
	background-color:#222233;
}

.infoBlock {
	
	margin:auto;
	margin-top:20px;
	margin-bottom:20px;
	width:95%;	
	background-color: #ddddff;
	border-radius:10px;
	padding:15px;
	border:solid 1px #5555dd;
	border-bottom:solid 3px #5555dd;
	color:#5555dd;
	
}

input[type=text] {
	/*background-color: #efefef;*/
	border-radius: 10px;
	border-bottom: solid 1px #cccccc;
	border-left: none;
	border-right: none;
	border-top: solid 1px #cccccc;
	
	padding-left: 10px;
	padding-right: 10px;
	width:90%;
	height:25px;
}

input[type=password] {
	/*background-color: #efefef;*/
	border-radius: 10px;
	border-bottom: solid 1px #cccccc;
	border-left: none;
	border-right: none;
	border-top: solid 1px #cccccc;
	
	padding-left: 10px;
	padding-right: 10px;
	width:90%;
	height:25px;
}

.remise {

	color:#ff0000;
	font-weight: bold;
	font-size:20px;	
	margin-left:30px;
	border:solid 1px #ff0000;
	padding:2px;
	
}

.remise_label {

	color:#ff0000;
	font-weight: bold;
	font-size:16px;	
	border-bottom:solid 1px #ff0000;
	padding:2px;
	
}

.remise_prix {

	color:#ff0000;
	font-weight: bold;
	font-size:10px;	
	
}
