{% include 'header.template.html' %}

<table id="mainBlock">
	<tr>
		<td id="leftBlock"> 
		
			{% include 'menu.template.html' %}
		
		</td>
				
		{% set article = articles.article.data %}
				
		<td id="rightBlock"> 

			<h1> Supprimer l'article {{ article.id }}, {{ article.nom }} : </h1>
			<br/>
			{% include 'Ariane.template.html' %}
			<br/>
			<i> <b>ATTENTION :</b> la suppression de cette article aura les conséquences suivantes : </i>
			<br/><br/>
			<div style="width:100%; text-align:left;margin-left:30px;">
			
			Un article supprimé  :
			<ul> 
				<li>n'est <b>plus modifiable.</b></li>
				<li><b>n'apparaît plus sur le site publique.</b></li>
				<li><b>est conservé en base</b>, pour le maintient de certaines fonctionalitées du site.</li>
			</ul>
			Lors de la suppression de l'article, <b>son image associée est elle aussi supprimée !</b>

			</div>
			
			<br/>
			<i> <b>ATTENTION :</b> Supprimer un article de la base énerve énormément le Rock'n'Poussin, à vos risques et périls !</i>
			
			<br/>
			<br/>
			Si vous souhaitez réellement supprimer cet article, cliquez <a href="index.php?service=Articles&function=delete&id_category={{ article.idCategorie }}&id_article={{ article.id }}&force">ici</a>
		</td>

	</tr>
</table>

{% include 'footer.template.html' %}