{% include 'header.template.html' %}

<table id="mainBlock">
	<tr>
		<td id="leftBlock"> 
		
			{% include 'menu.template.html' %}
		
		</td>
				
		<td id="rightBlock"> 

			<h1> Modifier un article : </h1>
			
			<br/>
			
			{% set modified = articlesController.article.data %}
			{% set form = articlesController.form %}
			
			<form id="modify_article" method="post" action="index.php?service=Articles&function=modify&id={{ modified.id }}">
			
				<table class="formTable">
					<tr>
						<td>Nom du nouvel article : </td>	
						<td>
							<input type="text" name="name" id="name" value="{{ form.name }}"/>
						</td>
					</tr>
					<tr>
						<td>Prix du nouvel article : </td>	
						<td>
							<input type="text" name="price" id="price" value="{{ form.price }}"/>
						</td>
					</tr>
					<tr>
						<td>Quantitée en stock du nouvel article : </td>	
						<td>
							<input type="text" name="stock" id="stock" value="{{ form.stock }}"/>
						</td>
					</tr>
					<tr>
						<td>Catégorie parente : </td>	
						<td>
							<select name="parent" id="parent">
								<option value="-1"
									{% if form.parent == -1 %}
										selected="selected"
									{% endif %}
								> Pas de catégorie parente </option>
							{% for category in articlesController.categories %}
								<option value="{{ category.id }}"
									{% if form.parent == category.id %}
										selected="selected"
									{% endif %}
								>{{ category.nom }}</option>
							{% endfor %}
							</select>
						</td>
					</tr> 
				</table>
			
				<input type="submit" value="modifier" />
			
			</form>
			
		</td>
		
	</tr>
</table>

{% include 'footer.template.html' %}