{% include 'header.template.html' %}

<table id="mainBlock">
	<tr>
		<td id="leftBlock"> 
		
			{% include 'menu.template.html' %}
		
		</td>
				
		<td id="rightBlock"> 

			<h1> Gestion des stocks : </h1>
			
			<h2> Articles en rupture de stock : </h2>
			
				
			{% set articlesData = articles.articles %}
			{% if articlesData|length > 0 %}
			<table class="dataTable">
					<tr>
						<th>ID</th>
						<th>NOM</th>
						<th>PRIX</th>
						<th>NOMBRE</th>
						<th>CATEGORIE</th>
						<th>ACTIONS</th>
					</tr>
				{% for article in articlesData %}
					<tr>
						<td>{{ article.id }}</td>
						<td>{{ article.nom }}</td>
						<td>{{ article.prix }}</td>
						<td>{{ article.nombre }}</td>
						<td>{{ article.categorie }}</td>
						<td> 
							<form id="reapro_article" method="post" action="index.php?service=Articles&function=reappro&article_id={{ article.data.id }}">
								<input type="text" name="nombre" value="" />
								<input type="submit" value="réapprovisionner" />
							</form>
						</td>
					</tr>
				{% endfor %}
			</table>
			{% else %}
			
				<i> Aucun problème de stocks détecté </i>
			
			{% endif %}
			<br/>
			
			<h2> Articles en voie de rupture de stock : </h2>
			
			{% set articlesData = articles.warnArticles %}
			{% if articlesData|length > 0 %}
			<table class="dataTable">
					<tr>
						<th>ID</th>
						<th>NOM</th>
						<th>PRIX</th>
						<th>NOMBRE</th>
						<th>CATEGORIE</th>
						<th>ACTIONS</th>
					</tr>
				{% for article in articlesData %}
					<tr>
						<td>{{ article.id }}</td>
						<td>{{ article.nom }}</td>
						<td>{{ article.prix }}</td>
						<td>{{ article.nombre }}</td>
						<td>{{ article.categorie }}</td>
						<td> 
							<form id="reapro_article" method="post" action="index.php?service=Articles&function=reappro&id_article={{ article.id }}">
								<input type="text" name="nombre" value="" />
								<input type="submit" value="réapprovisionner" />
							</form>
						</td>
					</tr>
				{% endfor %}
			</table>
			{% else %}
			
				<i> Aucun problème de stocks détecté </i>
			
			{% endif %}
			
		</td>
		
	</tr>
</table>

{% include 'footer.template.html' %}