{% include 'header.template.html' %}

<table id="mainBlock">
	<tr>
		<td id="leftBlock"> 
		
			{% include 'menu.template.html' %}
		
		</td>
				
		<td id="rightBlock"> 

			<h1> Creer un nouvel article : </h1>
			
			<br/>
			{% include 'Ariane.template.html' %}
			<br/>
			{% set form = articles.form %}
			
			<form id="create_article" method="post" action="index.php?service=Articles&function=create&id_category={{ nav.category.data.id }}">
			
				<table class="formTable">
					<tr>
						<td>Nom du nouvel article : </td>	
						<td>
							<input type="text" name="name" id="name" value="{{ form.name }}"/>
						</td>
					</tr>
					<tr>
						<td>Prix du nouvel article : </td>	
						<td>
							<input type="text" name="price" id="price" value="{{ form.price }}"/>
						</td>
					</tr>
					<tr>
						<td>Quantitée en stock du nouvel article : </td>	
						<td>
							<input type="text" name="stock" id="stock" value="{{ form.stock }}"/>
						</td>
					</tr>
					
				</table>
			
				<input type="hidden" name="parent" value="{{ nav.category.data.id }}" />
				<input type="submit" value="créer" />
			
			</form>
			
		</td>
		
	</tr>
</table>

{% include 'footer.template.html' %}