{% include 'header.template.html' %}

<table id="mainBlock">
	<tr>
		<td id="leftBlock"> 
		
			{% include 'menu.template.html' %}
		
		</td>
				
		{% set article = articlesController.article.data %}
				
		<td id="rightBlock"> 

			<h1> Article [{{ article.id }}] {{ article.nom }} : </h1>

			<h2> Catégorie parente : </h2>

			{% set parentCategory = articlesController.article.category.data %}
			
			{% if parentCategory is not empty %}
			
				[{{ parentCategory.id }}] {{ parentCategory.nom }}
			
			{% else %}
			
				<i>Cette article n'a pas de catégorie parente.</i>
			
			{% endif %}
			
			<br/>
			
			<h2> Informations : </h2>

			<table class="dataTable">
				<tr> 
					<th> ID </th>
					<td> {{ article.id }} </td>
				</tr>
				<tr> 
					<th> NOM </th>
					<td> {{ article.nom }} </td>
				</tr>
				<tr> 
					<th> PRIX </th>
					<td> {{ article.prix }} </td>
				</tr>
				<tr> 
					<th> STOCK ACTUEL </th>
					<td> {{ article.nombre }} </td>
				</tr>
			</table>
			
			<br/>
			<br/>
			
		</td>
		
	</tr>
</table>

{% include 'footer.template.html' %}