{% include 'header.template.html' %}

<table id="mainBlock">
	<tr>
		<td id="leftBlock"> 
		
			{% include 'menu.template.html' %}
		
		</td>
				
		{% set article = articles.article.data %}
				
		<td id="rightBlock"> 

			<h1> Supprimer l'article {{ article.id }}, {{ article.nom }} : </h1>
			<br/>
			{% include 'Ariane.template.html' %}
			<br/>
			<i> Attention : la suppression de cette article entraînera les modifications suivantes : </i>
			
			<h2> Commandes impactées : </h2>
			
			<i> Aucune gestion des commandes pour le moment</i>
			
			<br/>
			<br/>
			Si vous souhaitez réellement supprimer cet article, cliquez <a href="index.php?service=Articles&function=delete&id_category={{ article.idCategorie }}&id_article={{ article.id }}&force">ici</a>
		</td>

	</tr>
</table>

{% include 'footer.template.html' %}