{% include 'header.template.html' %}

<table id="mainBlock">
	<tr>
		<td id="leftBlock"> 
		
			{% include 'menu.template.html' %}
		
		</td>
				
		{% set category = nav.category %}
				
		<td id="rightBlock"> 

			<h1> Supprimer la catégorie {{ category.data.id }}, {{ category.data.nom }} : </h1>
			
			<br/>
				{% include 'Ariane.template.html' %}
			<br/>
			
			<i> Attention : la suppression de cette catégorie entraînera la suppression de(s) : </i>
			
			<h2> Catégorie(s) suivante(s) : </h2>
			
			{% set subCategories = nav.allSubCategories %}
			
			{% if subCategories is empty %}
			
				<i>Cette catégorie ne possède pas de sous-catégories.</i>
			
			{% else %}
			<table class="dataTable">
					<tr>
						<th>ID</th>
						<th>NOM</th>
						<th>ACTIONS</th>
					</tr>
				{% for subCategory in subCategories %}
					<tr>
						<td>{{ subCategory.data.id }}</td>
						<td>{{ subCategory.data.nom }}</td>
						<td> 
							<a href="index.php?service=Categories&function=delete&id_category={{ subCategory.data.id }}">+ supprimer plutôt</a>
						</td>
					</tr>
				{% endfor %}
			</table>
			{% endif %}
			
			<br/>
			
			<h2> Article(s) suivant(s) : </h2>
			
			{% set articles = nav.allCategoryItems %}
			
			{% if articles is empty %}
			
				<i>Il n'y a aucun article dans cette catégorie.</i>
			
			{% else %}
			<table class="dataTable">
					<tr>
						<th>ID</th>
						<th>NOM</th>
					</tr>
				{% for article in articles %}
					<tr>
						<td>{{ article.data.id }}</td>
						<td>{{ article.data.nom }}</td>
					</tr>
				{% endfor %}
			</table>
			<br/>
			<i> Où peut être préférez-vous <a href="index.php?service=Categories&function=delete&id_category={{ category.data.id }}&move">déplacer ces articles dans la catégorie parente</a> ?</i>
			{% endif %}
			
			<br/>
			<br/>
			Si vous souhaitez réellement supprimer cette catégorie, cliquez <a href="index.php?service=Categories&function=delete&id_category={{ category.data.id }}&force">ici</a>
		</td>

	</tr>
</table>

{% include 'footer.template.html' %}