{% include 'header.template.html' %}

		<div id="data">

			<h1> Creer une nouvelle catégorie dans : {{ nav.category.data.nom }} </h1>
			
			<br/>
				{% include 'Ariane.template.html' %}
			<br/>
			
			<form id="create_category" method="post" action="index.php?service=Categories&function=create&id_category={{ nav.category.data.id }}">
			
				<table class="formTable">
					<tr>
						<td>Nom de la nouvelle catégorie <span class="formImportant">*</span> : </td>	
						<td>
							<input type="text" name="nom" id="nom"/>
						</td>
					</tr>
				</table>
				
				<input type="hidden" name="idParent" id="idParent" value="{{ nav.category.data.id }}"/>
				<input type="submit" value="créer" />
			
			</form>
			
		</div>

{% include 'footer.template.html' %}