{% include 'header.template.html' %}

<table id="mainBlock">
	<tr>
		<td id="leftBlock"> 
		
			{% include 'menu.template.html' %}
		
		</td>
				
		<td id="rightBlock"> 

			<h1> Creer une nouvelle catégorie dans : {{ nav.category.data.nom }} </h1>
			
			<br/>
				{% include 'Ariane.template.html' %}
			<br/>
			
			<form id="create_category" method="post" action="index.php?service=Categories&function=create&id_category={{ nav.category.data.id }}">
			
				<table class="formTable">
					<tr>
						<td>Nom de la nouvelle catégorie : </td>	
						<td>
							<input type="text" name="name" id="name"/>
						</td>
					</tr>
				</table>
				
				<input type="hidden" name="parent" id="parent" value="{{ nav.category.data.id }}"/>
				<input type="submit" value="créer" />
			
			</form>
			
		</td>
		
	</tr>
</table>

{% include 'footer.template.html' %}