{% include 'header.template.html' %}

<table id="mainBlock">
	<tr>
		<td id="leftBlock"> 
		
			{% include 'menu.template.html' %}
		
		</td>
				
		<td id="rightBlock"> 

			<h1> Liste des catégories du site : </h1>
			
			<br/>
			
			<table class="dataTable">
					<tr>
						<th>ID</th>
						<th>NOM</th>
						<th>ACTIONS</th>
					</tr>
				{% for category in categoriesController.categories %}
					<tr>
						<td>{{ category.id }}</td>
						<td>{{ category.nom }}</td>
						<td> 
							<a href="index.php?service=Categories&function=modify&id={{ category.id }}"> + modifier </a> <br/> 
							+ supprimer <br/> 
							<a href="index.php?service=Categories&function=see&id={{ category.id }}">+ informations </a>
						</td>
					</tr>
				{% endfor %}
			</table>
			
			<br/>
			
			<a href="index.php?service=Categories&function=create">+ Ajouter une nouvelle catégorie</a>
		</td>
		
	</tr>
</table>

{% include 'footer.template.html' %}