{% include 'header.template.html' %}

<table id="mainBlock">
	<tr>
		<td id="leftBlock"> 
		
			{% include 'menu.template.html' %}
		
		</td>
				
		<td id="rightBlock"> 

			<h1> Gestion des commandes : </h1>

			<h2> Liste des commandes non trait&eacute;es : </h2>
				
			{% set commandList = commandes.commands %}
			{% if commandList|length > 0 %}
			<table class="dataTable">
					<tr>
						<th>ID</th>
						<th>LOGIN CLIENT</th>
						<th>MAIL CLIENT</th>
						<th>TOTAL</th>
						<th>DATE</th>
					</tr>
				{% for command in commandList %}
					<tr>
						<td>{{ command.id }}</td>
						<td>{{ command.user.login }}</td>
						<td>{{ command.user.mail }}</td>
						<td></td>
						<td> 
							<a href="index.php?service=Users&function=delete&id_user={{ user.data.id }}">+ supprimer</a>
						</td>
					</tr>
				{% endfor %}
			</table>
			{% else %}
			
				<i> Aucun compte utilisateurs enregistré en base </i>
			
			{% endif %}

		</td>
		
	</tr>
</table>

{% include 'footer.template.html' %}