{% include 'header.template.html' %}

		<div id="data">

			{% set commande = commandes.commande %}
			<h1> Commande n°{{ commande.id }}, par {{ commande.user.login }} : </h1>
			
			<br/>
			
			<h2> Liste des produits commandés : </h2>
				
			{% if commande.reservations|length > 0 %}
			<div class="reservations">
					<div class="reservations_th">
						<div class="id">ID</div>
						<div class="nom">NOM DU PRODUIT</div>
						<div class="nombre">NOMBRE</div>
						<div class="total">TOTAL</div>
					</div>
				{% for reservation in commande.reservations %}
					<div class="reservation">
						<div class="id">{{ reservation.id }}</div>
						<div class="nom">{{ reservation.article.nom }}</div>
						<div class="nombre">{{ reservation.nombre }}</div>
						<div class="total">{{ reservation.prix }}</div>
					</div>
				{% endfor %}
					<div class="reservation">
						<div class="id" style="border:none;background-color:#ffffff;"></div>
						<div class="nom" style="border:none;background-color:#ffffff;"></div>
						<div class="nombre" style="margin-left:4px;">Total : </div>
						<div class="total">{{ commande.total }}</div>
					</div>
			</div>
			{% else %}
				<div class="center"><i> Aucune réservation dans la commande, ça énerve le rock'n'poussin ça ! </i></div>
			{% endif %}
		
		</div>

{% include 'footer.template.html' %}