{% include 'header.template.html' %}

		<div id="data">
			<h1> Gestion des commandes : </h1>
			<br/>
			<h2> Liste des commandes non trait&eacute;es : </h2>
				
			{% set commandList = commandes.invalidCommands %}
			{% if commandList|length > 0 %}
			<div class="commandes">
					<div class="commandes_th">
						<div class="id">ID</div>
						<div class="login">LOGIN CLIENT</div>
						<div class="total">TOTAL</div>
					</div>
				{% for command in commandList %}
					<div class="commande">
						<div class="id">{{ command.id }}</div>
						<div class="login">{{ command.user.login }}</div>
						<div class="total">{{ command.total }}</div>
						<a href="index.php?service=Commandes&function=valid&id_command={{ command.id }}">
							<div class="function"> 
								valider
							</div>
						</a>
						<a href="index.php?service=Commandes&function=details&id_command={{ command.id }}">
							<div class="function"> 
								d&eacute;tails
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
			{% else %}
			
				<div class="center"><i> Aucune commande non traitée renseignée en base </i></div>
			
			{% endif %}
			<br/>
			<h2> Liste des commandes trait&eacute;es : </h2>
			
			{% set commandList = commandes.validCommands %}
			{% if commandList|length > 0 %}
			<div class="commandes">
					<div class="commandes_th">
						<div class="id">ID</div>
						<div class="login">LOGIN CLIENT</div>
						<div class="total">TOTAL</div>
					</div>
				{% for command in commandList %}
					<div class="commande">
						<div class="id">{{ command.id }}</div>
						<div class="login">{{ command.user.login }}</div>
						<div class="total">{{ command.total }}</div>
						<a href="index.php?service=Commandes&function=details&id_command={{ command.id }}">
							<div class="function" style="width:34%;"> 
								d&eacute;tails
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
			{% else %}
			
				<div class="center"><i> Aucune commande traitée renseignée en base </i></div>
			
			{% endif %}

		</div>

{% include 'footer.template.html' %}