<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>{{ controller.title }}</title>
	<link rel="stylesheet" type="text/css" href="css/main.css" />
</head>
	
<body>

	<div id="header">
		
		<img src="../img/header.png" id="header_deco_left"/>
		
		La cave du rock'n'poussin
		
		<img src="../img/headerflip.png" id="header_deco_right"/>
		
	</div>

	{% if controller.error is not empty %}
	<div class="errorBlock">{{ controller.error|raw }}</div>
	{% endif %} 
	
	{% if controller.info is not empty %}
	<div class="infoBlock">{{ controller.info|raw }}</div>
	{% endif %}

	<div id="body">
	
		<div id="menu">
			{% include 'menu.template.html' %}
		</div>