<h1>Menu</h1>


<a href="index.php?service=Categories">
	<div class="menu_item">
		Gestion des catégories et articles
	</div>
</a>
<a href="index.php?service=Articles">
	<div class="menu_item">
		Gestion des stocks
	</div>
</a>
<a href="index.php?service=Commandes">
	<div class="menu_item">
		Gestion des commandes
	</div>
</a>
<a href="index.php?service=Users">
	<div class="menu_item">
		Gestion des utilisateurs
	</div>
</a>
<a href="../index.php">
	<div class="menu_item">
		Retourner sur le site publique
	</div>
</a>
