{% include 'header.template.html' %}

		<div id="data">

			<h1> Utilisateurs : </h1>
			
			{% set userSuppr = users.remove %}
			
			{% if userSuppr is not empty %}
			<br/>
			<h2> Êtes-vous sûr de vouloir supprimer cet utilisateur ? </h2>
			
			<table class="dataTable">
					<tr>
						<th>ID</th>
						<th>LOGIN</th>
						<th>MAIL</th>
						<th>NOMBRE DE COMMANDES</th>
					</tr>

					<tr>
						<td>{{ userSuppr.data.id }}</td>
						<td>{{ userSuppr.data.login }}</td>
						<td>{{ userSuppr.data.mail }}</td>
						<td>{{ userSuppr.commands|length }}</td>
						<td> 
							<a href="index.php?service=Users&function=delete&id_user={{ userSuppr.data.id }}&force">+ confirmer</a>
						</td>
					</tr>
					
			</table>
			
			{% endif %}
			<br/>
			<h2> Liste des utilisateurs : </h2>
				
			{% set usersData = users.users %}
			{% if usersData|length > 0 %}
			<div class="users">
					<div class="users_th">
						<div class="id">ID</div>
						<div class="login">LOGIN</div>
						<div class="mail">MAIL</div>
						<div class="nb">COMMANDES</div>
					</div>
				{% for user in usersData %}
					<div class="user">
						<div class="id">{{ user.data.id }}</div>
						<div class="login">{{ user.data.login }}</div>
						<div class="mail">{{ user.data.mail }}</div>
						<div class="nb">{{ user.commands|length }}</div>
						<a href="index.php?service=Users&function=delete&id_user={{ user.data.id }}">
							<div class="function"> 
								supprimer
							</div>
						</a>
						 
							{% if user.data.admin == 0 %}
								<a href="index.php?service=Users&function=admin&id_user={{ user.data.id }}&admin">
									<div class="function">
										+ admin
									</div>
								</a>
							{% else %}
								<a href="index.php?service=Users&function=admin&id_user={{ user.data.id }}&noadmin">
									<div class="function">
										- admin
									</div>
								</a>
							{% endif %}
						</div>
						
				{% endfor %}
			</div>
			{% else %}
			
				<i> Aucun compte utilisateurs enregistré en base </i>
			
			{% endif %}

		</div>

{% include 'footer.template.html' %}