{% include 'header.template.html' %}

<table id="mainBlock">
	<tr>
		<td id="leftBlock"> 
		
			{% include 'menu.template.html' %}
		
		</td>
				
		<td id="rightBlock"> 
		
			<table>
				
				{% for category in nav.categories %}
					
				<tr>
				
					<td>
					
					{{ category.data.nom }}
						
					</td>	
					
				</tr>
						
				{% endfor %}
				{% for article in nav.articles %}
					
				<tr>
					
					{{ article.data.nom }}
						
				</tr>	
					
				{% endfor %}
				
			</table>
		
		</td>
		
	</tr>
</table>

{% include 'footer.template.html' %}