<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		{% if not meta is empty %}
			{{ meta }}
		{% endif %}
		<title>{{ title }}</title>
		{% if not import is empty %}
			{{ import }}
		{% endif %}
	</head>
	<body>

	{% if not error is empty %}
		<div class="errorBlock">
			{{ error }}
		</div>
	{% endif %}
	
	{% if info is not empty %}
		<div class="infoBlock">
			{{ info }}
		</div>
	{% endif %}

	<div id="bodyData">