<h1>Menu</h1>

<a href="index.php"><div class="menu_item">Sélectionner articles</div></a>
<a href="index.php?service=PanierController"><div class="menu_item">Mon panier</div></a>

{% if user is not empty %} 
<a href="index.php?service=Users&function=modify"><div class="menu_item">Modifier mon compte</div></a>
<a href="index.php?service=Users&function=disconnect"><div class="menu_item">Me déconnecter</div></a>
{% else %}
<a href="index.php?service=Users"><div class="menu_item">Me connecter</div></a>
<a href="index.php?service=Users&function=create"><div class="menu_item">M'inscrire</div></a>
{% endif %}

<h1>Mon panier </h1>

{% if panier.articles|length > 0 %}

	{% set total = 0 %}
	{% for panieritem in panier.articles %}
					
		{% set prix = panieritem.prix*(1 - panieritem.remise/100.0) %}
		{% set total = total + (panieritem.nombre * prix) %}
		<div class="menu_item">{{ panieritem.nombre }} {{ panieritem.nom|escape }} pour {{ panieritem.nombre * prix }}</div>
									
	{% endfor %}

	<div class="menu_item">Pour un total de : {{ total }}</div>

{% else %}

	<div class="menu_item">Le panier est vide</div>

{% endif %}