{% include 'header.template.html' %}

<table id='mainBLock'>
	<tr>
		<td id="leftBlock">
		
			{% include 'menu.template.html' %}
		
		</td>
		<td id='rightBlock'>
		
			{% if panier.articles|length > 0 %}
				<table>
				
					{% for panieritem in panier.articles %}
					
						<tr>
							<td>
								{{ panieritem.data.id }}
							</td>
							<td>
								{{ panieritem.data.nom }}
							</td>
							<td>
								{{ panieritem.data.prix }}
							</td>
							<td>
								{{ panieritem.data.nombre }}
							</td>
						</tr>
					{% endfor %}
				</table>
			{% endif %}
			
		</td>
	</tr>
</table>

{% include 'footer.template.html' %}