{% include 'header.template.html' %}

<table id='mainBlock'>
	<tr>
		<td id="leftBlock">
		
			{% include 'menu.template.html' %}
		
		</td>
		<td id='rightBlock'>
		
			{% if panier.articles|length > 0 %}
				<table class='dataTable'>
				
					<tr>
						<th>
							Produit(s)
						</th>
						<th>
							Prix unitaire
						</th>
						<th>
							Quantit&eacute;e
						</th>
						<th>
							Prix total
						</th>
						<th>
							Op&eacute;rations
						</th>
					</tr>
					{% for panieritem in panier.articles %}
					
						<tr>
							<td>
								{{ panieritem.nom|escape }}
							</td>
							<td>
								{{ panieritem.prix }}
							</td>
							<td>
								{{ panieritem.nombre }}
							</td>
							<td>
								{{ panieritem.nombre * panieritem.prix }}
							</td>
							<td>
								<a href='index.php?service=PanierController&function=remove&id_article={{ panieritem.id }}'>+Supprimer</a>
							</td>
						</tr>
					{% endfor %}
				</table>
			{% endif %}
			
		</td>
	</tr>
</table>

{% include 'footer.template.html' %}