{% include 'header.template.html' %}

		<div id="data">
		
			<h1>Mon panier : </h1>
			<br/>
			{% if panier.articles|length > 0 %}
				<div class='items'>
				
					<div class="items_th">
						<div class="nom">
							Produit(s)
						</div>
						<div class="prix_stock">
							Prix unitaire / Quantit&eacute;e
						</div>
						<div class="prix_total">
							Prix total
						</div>
					</div>
					{% set total = 0 %}
					{% for panieritem in panier.articles %}
					
						<div class="item">
							<div class="nom">
								<table>
									<tr>
										<td>
											<img height="100px" src="img/{{ panieritem.image }}" />
										</td>
										<td class="center">
											{{ panieritem.nom|escape }}
											{% if panieritem.remise > 0 %}
												<br/><span class="remise_label">- {{ panieritem.remise }} % !</span>
											{% endif %}
										</td>
									</tr>
								</table>
							</div>
							<div class="prix_stock">
								<table height="105px" width="100%">
									<tr>
										<td class="center">
											{{ panieritem.prix*(1 - panieritem.remise/100.0) }} / <b>{{ panieritem.nombre }}</b>
											{% set prix = panieritem.prix*(1 - panieritem.remise/100.0) %}
											{% if panieritem.remise > 0 %}
											<br/><span class="remise_prix">- {{ panieritem.prix*(panieritem.remise/100.0) }} </span>
											{% endif %}
										</td>
									</tr>
								</table>
							</div>
							<div class="prix_total">
								<table height="105px" width="100%">
									<tr><td class="center">
									{% set total = total + (panieritem.nombre * prix) %}
									{{ panieritem.nombre * prix }}
									</td></tr>
								</table>
							</div>
							<div class="modif">
								
								<table height="105px">
									<tr>
										<td>
											<form action="index.php?service=PanierController&function=addQuantity&id_article={{ panieritem.id }}" method="POST">
												 <input style="width:180px;" type="text" name="nombre" placeholder="Entier n&eacute;gatif pour retirer"/> <input type="SUBMIT" value="Ajouter"/>
											</form>
										</td>
									</tr>
								</table>
								<!-- <a href='index.php?service=PanierController&function=remove&id_article={{ panieritem.id }}'>+Supprimer</a> -->
							</div>
						</div>
					{% endfor %}
				</div>
				{% if app.request.get('modif') == 1 %}
				
					<table class='dataTable'>
						<tr>
							<th>Un ou plusieurs des produits de votre panier n'est pas disponible dans les 
								quantit&eacute; indiqu&eacute;. Voulez-vous les supprimmer ? 
							</th>
							<td>
								<form action="index.php?service=PanierController&function=modif">
									<input type="SUBMIT" value="Valider"/>
								</form>
								<form action="index.php?service=PanierController">
									<input type="SUBMIT" value="Refuser"/>
								</form>
							</td>
						</tr>
					</table>
				
				{% endif %}
				<table style="margin-left:5%;margin-right:5%;width:90%;border-top:solid 1px #222222;">
					<tr>
						<th>
							Prix total de la commande : 
						</th>
						<td>
							{{ total }}
						</td>
						<td>
							<form method="post" action="index.php?service=PanierController&function=validate">
								<input type="SUBMIT" value="Valider la commande"/>
							</form>
						</td>
					</tr>
				</table>
			{% endif %}
			
		</div>

{% include 'footer.template.html' %}