{% include "header.template.html" %}

<form id="userForm" method="post" action="index.php?service=UserModify">

	<table class="formTable">
	
		<tr class="formLine">
			<td class="formLabel">
				Login :
			</td>
			<td class="formField">
				<input type="text" name="login" id="login" value=""/>
			</td>
		</tr>
		
		<tr class="formLine">
			<td class="formLabel">
				Mot de passe :
			</td>
			<td class="formField">
				<input type="password" name="pass" id="pass" />
			</td>
		</tr>
		
		<tr class="formLine">
			<td class="formLabel">
				Administrateur :
			</td>
			<td class="formField">
				<input type="checkbox" name="admin" id="admin" 
				/>
			</td>
		</tr>
		
	</table>

	<input type="submit" value="{{ controller.form.actionType|escape }}"/>

</form>

{% include "footer.template.html" %}