{% include 'header.template.html' %}

	<div id="data">
			<h1> Modifier mon compte : </h1>
			
			<br/>

			{% set form = controller.form %}
			
			<form id="modify_user" method="post" action="index.php?service=Users&function=modify">
			
				<table class="formTable">
					<tr>
						<td>Ancient password : </td>	
						<td>
							<input type="password" name="oldPassword" id="oldPassword" value=""/>
						</td>
					</tr>
					<tr>
						<td>Nouveau password : </td>	
						<td>
							<input type="password" name="password" id="password" value="{{ form.values.password }}"/>
						</td>
					</tr>
					<tr>
						<td>Nouveau mail : </td>	
						<td>
							<input type="text" name="mail" id="mail" value="{{ form.values.mail }}"/>
						</td>
					</tr>
				</table>
				<br/>
				<input type="submit" value="modifier" />
			
			</form>
			
		</div>

{% include 'footer.template.html' %}