{% include 'header.template.html' %}

<table id="mainBlock">
	<tr>
		<td id="leftBlock"> 
		
			{% include 'menu.template.html' %}
		
		</td>
				
		<td id="rightBlock"> 

			<h1> Se connecter : </h1>

			<form id="connect_user" method="post" action="index.php?service=Users&function=connect">
			
				<table class="formTable">
					<tr>
						<td>Login : </td>	
						<td>
							<input type="text" name="login" id="login" value=""/>
						</td>
					</tr>
					<tr>
						<td>Password : </td>	
						<td>
							<input type="password" name="pass" id="pass" value=""/>
						</td>
					</tr>
				</table>
			
				<input type="submit" value="me connecter" />
			
			</form>
			
		</td>
		
	</tr>
</table>

{% include 'footer.template.html' %}