{% include "header.template.html" %}

<form id="userForm" method="post" action="index.php?service=UserModify{{ user.form.args }}">

	<table class="formTable">
	
		<tr class="formLine">
			<td class="formLabel">
				Login :
			</td>
			<td class="formField">
				<input type="text" name="login" id="login" value="{{ user.form.login|escape }}"/>
			</td>
		</tr>
		
		<tr class="formLine">
			<td class="formLabel">
				Mot de passe :
			</td>
			<td class="formField">
				<input type="password" name="pass" id="pass" value="{{ user.form.pass|escape }}"/>
			</td>
		</tr>
		
		<tr class="formLine">
			<td class="formLabel">
				Administrateur :
			</td>
			<td class="formField">
				<input type="checkbox" name="admin" id="admin" 
					{% if user.form.admin is not empty %}
						checked="checked"
					{% endif %}
				/>
			</td>
		</tr>
		
	</table>

	<br/>
	
	{% if user.form.args is not empty %}
		<input type="hidden" name="modify" value="{{ user.form.id }}" />
	{% endif %}
	
	<input type="submit" value="{{ user.form.actionType|escape }}"/>

</form>

{% include "footer.template.html" %}