{% include "header.template.html" %}

<table class="formTable">
	<tr>
		<th> login </th>
		<th> administrateur </th>
		<td> </td>
	</tr>
{% for user in usersController.users %}
	<tr>
		<td class="dataLine">{{ user.login }}</td>
		<td class="dataLine">{{ user.admin }}</td>
		<td class="dataLine">
			<a href="index.php?service=UserModify&modify={{ user.id }}">+ Modifier</a> 
			<br/> 
			<a href="index.php?service=UserModify&delete={{ user.id }}">- Supprimer</a>
		</td>
	</tr>
{% endfor %}
</table>
<br/>
<a href="index.php?service=UserModify">+ Créer un nouvel utilisateur</a>

{% include "footer.template.html" %}